{% extends 'base.html' %}
{% block title %}About{% endblock %}


{% block content %}
<h3>Dataset</h2>
<p>This dataset is recreated using offline augmentation from the original dataset.The original dataset can be found on this github repo. This dataset consists of about 87K rgb images of healthy and diseased crop leaves which is categorized into 38 different classes.The total dataset is divided into 80/20 ratio of training and validation set preserving the directory structure. A new directory containing 33 test images is created later for prediction purpose.</p>

<h3>Content</h3>
<ol>
    <li>train (70295 images)</li>
    <li>test (33 images)</li>
    <li>validation (17572 images)</li>
</ol>
{% endblock %}